body{
    margin: 0;
}
nav {
    background-color: rgb(56, 34, 177);
    height: 70px;
    width: 100%;
}

nav img{
    height: 70px;
    width: 110px;

}


.card{
    width: 95%;
    height: 10%;
    margin: 3% 3%;
    display: flex;
    border-radius: 10px;

}
.detail{
    width: 100%;
    flex:1;
}

.card-csk{
    background: linear-gradient(136deg, rgb(253, 185, 19), rgb(248, 92, 0));
    
}
.card-dc {
    background: linear-gradient(136deg, #004c93, #0358a7);
}
.card-KXIP {
    background: linear-gradient(136deg, #aa4545, #740f0b);
}
.card-kkr {
    background: linear-gradient(136deg, #70458f, #3d2057);
}

.card-mi {
    background: linear-gradient(136deg, #0c75c0, #034472);
}

.card-rr {
    background: linear-gradient(136deg, #2d4d9d, #172e5e);
}

.card-rcb {
    background: linear-gradient(136deg, #000, #464646);
}

.card-srh {
    background: linear-gradient(136deg, #fb643e, #b81c25);
}

.card img{
    height: 80px;
    margin: 0.5rem 0.5rem;
    
}

.card h3{
    
    color:white;
    font-weight: bolder;
    

}
.card h4{
    color:rgb(255, 255, 0);
    margin-left: 3%;
    width: 100%;
}
.card h5{
    display: none;
}
.card h6{
    display: none;
}

.trophy{
    margin: 5%;
    width: max-content;
    padding-right: 6px;
    background-color: hsla(0,0%,7%,0.35);
    border-radius: 10px;
}

@media screen and (min-width:700px) {
    .container{
        width: 100%;
        display: flex;
        flex-wrap: wrap;
        justify-content: space-around;

    }
    .card{
        flex-direction: column;
        width: 27%;
        height: 280px;
    }
    .card img{
        width: 100px;
        margin-left: 25%;
        margin-top: -2%;
    }

    .card h3{
        text-align: center;
    }
    .card h4{
        width: 100%;
    }
    .card h5{
        display: inline;
        color:floralwhite;
        margin-left: 30%;
    }
    .trophy{
        margin: auto;
        
    }
    
    .card h6{
    color: floralwhite;
    display: flex;
    justify-content: center;
    align-content: center;
        
    }
}

@media  screen and (min-width:900px) {
    .card{
        width: 19%;
        height: 350px;
    }
    .container{
        justify-content: flex-start;
    }
    .card h5{
        display: inline;
        color:floralwhite;
        margin-left: 36%;
        
    }
    .card img{
        margin-left: 33%;

    }
}
