
nav {
    background-color: rgb(56, 34, 177);
    height: 70px;
    width: 100%;
}
nav img{
    height: 70px;
    width: 110px;
}

.team-player{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    width: 100%;
}

.Playername h5{
    color: black;
}


.playerdetail h4,h6{
    text-align: center;
}
.playerphoto-csk{
    background: linear-gradient(136deg, rgb(253, 185, 19), rgb(248, 92, 0));
    border-radius: 9px 9px 0 0;
}
.playerphoto-dc{
    background: linear-gradient(136deg ,#004c93,#0358a7);
    border-radius: 9px 9px 0 0;
}

.playerphoto-kkr{
    background: linear-gradient(136deg,#70458f,#3d2057);
    border-radius: 9px 9px 0 0;
}

.playerphoto-kxip{
    background: linear-gradient(136deg,#aa4545,#740f0b);
    border-radius: 9px 9px 0 0;
}

.playerphoto-mi{
    background: linear-gradient( 136deg,#005da0,#003a63);
    border-radius: 9px 9px 0 0;

}
.playerphoto-rcb{
    background: linear-gradient(136deg,#000,#464646);
    border-radius: 9px 9px 0 0;

}
.playerphoto-rr{
    background: linear-gradient( 136deg,#2d4d9d,#172e5e);
    border-radius: 9px 9px 0 0;

}
.playerphoto-srh{
    background: linear-gradient(136deg,#fb643e,#b81c25);
    border-radius: 9px 9px 0 0;

}

.black{
    margin: 1%;
}
.card img{

    display: block;
    margin:0 auto;
    width: 30%;
    margin-top: -1%;
}
.card{
    margin-top: 2%;
    border: 0.5px groove;
    border-radius: 9px;
    
}
.cskbanner{
    width: 100%;
}
.cskbanner2{
    display: none;
}
.black{
    color: black;
}

.detail{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.scorecard{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}
.scorecard h5{
    margin-bottom: 0;
    margin-top: 25%;
    width: min-content;
    color: black;
    
}
.scorecard div{
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 0 0 10% 0;
}

.Playername h5{
    /* margin: 10% auto 0 25%; */
    font-size: large;
    
}
.Playername h3{
    margin-top: 0;
    margin-bottom: 15%;
}
.scorecard h5{
    margin-top: 25%;
    
}

.detail h6{
    margin: 0;
    
}
.detail h3{
    
    font-size: large;
}
.detail h5{
    text-align: center;
    margin-bottom: 25%;
    width: min-content;
    font-size:15px;
}

@media screen and (min-width:460px) {
    .container{
        width: 100%;
        display: flex;
        flex-wrap: wrap;
        justify-content: space-around;

    }
    .card{
        flex-direction: column;
        width: 40%;
    }
    .scorecard div {
        padding: 0;
        margin:5%;
    }
    .scorecard h5{
        font-size: smaller;
    }
}

@media screen and (min-width:660px) {
    .card{
        width: 30%;
    }
}

@media screen and (min-width:1020px){
    .card{
        width:20%;
    }
    .scorecard div{
        padding:0 9% 0 9%;
    }
    
    
    .banner{
        display: flex;
        flex-direction: row;
    }

    .banner img{
        width: 50%;
    }
    .cskbanner2{
        display: flex; 
    }
    
   
}





.playerphoto-csk img, .playerphoto-dc img, .playerphoto-kkr img, .playerphoto-kxip img, .playerphoto-mi img, .playerphoto-rcb img, .playerphoto-rr img, .playerphoto-srh img{
    width: 100%;
}